@model appp.Models.link

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>link</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.webLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.webLink)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.linkRole)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.linkRole)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.key }) |
    @Html.ActionLink("Back to List", "Index")
</p>
